# Flux1Schnell
Flux1Schnell/.ipynb_checkpoints
Flux1Schnell/HF_HOME
Flux1Schnell/myvenv
Flux1Schnell/flux-schnell.png

# Amex Default Prediction
amex-default-prediction/.ipynb_checkpoints
amex-default-prediction/data
amex-default-prediction/myvenv
amex-default-prediction/models
amex-default-prediction/submission.csv

# Electrical Transmission Line Fault Detection
Electrical_Fault_Detection_Classification/.ipynb_checkpoints
Electrical_Fault_Detection_Classification/transmission_line_fault_detection
Electrical_Fault_Detection_Classification/myvenv

# Fashion MNIST Classification
Fashion_MNIST_Classification/.ipynb_checkpoints
Fashion_MNIST_Classification/F_MNIST_data

